<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/static/js/paysally.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet"><link rel="stylesheet" href="/static/css/style.css">
  <title>{%block title%}Pay Sally{% endblock %}</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1 id="header" style="position: fixed; padding: 0 0 10px 10px;"><a href="/">dog-shelter-app</a></h1>
    <a class="navbar-brand" href="/"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/page/calculator.html">Pay_Gap Calculator</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/page/solution.html">Game_Plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/page/lost-dog-form.html">Dog Form</a>
        </li>
      </ul>
    </div>
  </nav>

  {% block jumbotron %}
  <div class="jumbotron vertical-center jumbotron-fluid">
    <div class="container">
      <div class="row jumbotrontext">
        <div class="col-lg-6">
        </div>
        <div class="col-lg-6">
          <h1 class="display-6">{% block jumbotrontext %}dog-shelter-app{% endblock %}</h1>
          <a href="/login-google" class="btn btn-outline-dark btn-lg"><i class=""></i>Login with Google</a>
        </div>
      </div>

      <div class="row jumbotron-paygap">
        <div class="col-lg-6 col-md-8 col-sm-12">
          <h2>Animal shelter</h2>
        </div>
          <div class="col-lg-3 col-md-2 col-sm-12"><h3><strong style="font-size: 30px;">Report a lost dog now.</strong></h3></div>
        <div class="col-lg-3 col-md-2 col-sm-12">
          <a href="/page/lost-dog-form.html" class="btn btn-outline-secondary btn-lg">Report a lost dog</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
    {% block calculator %}{% endblock %}
  {% block calcresult %}{% endblock %}
  {% block solution %}{% endblock %}
  {% block dogform %}{% endblock %}

  {% block footer %}

  <footer id="footer">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h5>Pay Sally</h5>
          <p>PaySally is an independent, nonprofit think tank that researches the impact of economic trends and policies on working people in the United States. PaySally’s research helps policymakers, opinion leaders, advocates, journalists, and the public
            understand the bread-and-butter issues affecting ordinary Americans.</p>
          <h4>Follow PaySally</h4>
          <p>1225 Eye St. NW, Suite 600 Washington, DC 20005 Phone: 202-775-8810 • hello@paysally.com ©2017 PaySally Privacy Policy • Contact Us</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <p>Projects</p>
          <a href="#"><strong>The Perkins Project on Worker Rights and Wages</strong></a>
          <p>Tracking the wage and employment policies coming out of the White House, Congress, and the courts.</p>
          <a href="#"><strong>Inequality.is</strong></a>
          <p>Interactive tools and videos bringing clarity to the national dialogue on economic inequality.</p>
          <br>
          <p>Affiliate Programs</p>
          <a href="#"><strong>Economic Analysis and Research Network (EARN)</strong></a>
          <p>A network of state and local organizations improving workers' lives through research and advocacy.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h5>About PaySally</h5>
          <p>
            <a href="http://www.epi.org/about/staff/">Staff</a><br>
            <a href="http://www.epi.org/about/board/">Board of Directors</a><br>
            <a href="http://www.epi.org/about/jobs/">Jobs at PaySally</a><br>
            <a href="http://www.epi.org/about/contact/">Contact us</a><br>
            <a href="http://www.epi.org/why-give/">Why give to PaySally</a><br>
            <a href="http://www.epi.org/newsroom/">Newsroom</a><br>
            <a href="http://www.epi.org/signup/">Newsletter</a><br>
            <a href="http://www.epi.org/events/">Events</a><br>
            <a href="http://www.epi.org/give/">Donate</a>
          </p>
        </div>
      </div>
  </footer>
  {% endblock %}

</body>

</html>
