{% extends "base.html" %}

{% block jumbotron%}{% endblock %}
{%block calculator%}{%endblock%}
{% block calcresult %}{% endblock %}
{% block solution %}
<div class="solution">
<div class="col-lg-12 col-md-12 col-sm-12">
<div class="pay_gap">
<h1>game_plan</h1>
</div>
<br>
  <button class="btn btn-outline-danger btn-block"><h3 id="section-header1">1. Craft a Killer Resume</h3></button><br>
  <div id="section1">
  <p><h5>Formatting</h5>
    <p>• Do make your resume 1-2 pages • 1 inch margins are acceptable
• Left-aligned text is preferred • Use an easy to read font like
Times New Roman or Calibri</p>
    <h5>Sections</h5>
    <p>• Use standard section headings like Professional Experience, Education, Areas of Expertise, and Honors/Accomplishments.
• Put your education at the top of the resume if you have little to no work experience, otherwise education should be at the bottom of the resume.</p>
    <h5>Content</h5>
    <p>• Do always be specfic. Include actions, outcomes, and numbers. Provide measurable examples.
• Don't include job experience that is longer than 10 years ago
• Don't include your physical address.</p>
  <a href="/static/img/Resume Cheat Sheet.CareerCollective logo.pdf">the_plan $29</a>
</p></div>
  <button class="btn btn-outline-info btn-block"><h3 id="section-header2">2. Get the Interview</h3></button><br>
  <div id="section2"><p>
<p>• In less than 90 seconds, hiring managers know if they want to hire you.</p>
<p>• Interviews are tools to screen candidates out, not in. </p>
<a href="/static/img/How to Master the Job Search.pdf">the plan_$29<a>
</p>
</div>
<button class="btn btn-outline-dark btn-block">
  <h3 id="section-header3">3. Negotiate like a Pro</h3>
</button>
  <br>
  <div id="section3"><p>
<p>• Shhh...never give a number up first-the first one to name a salary loses.</p>
<p>• If forced to give a number go for the top third of the range you are looking for.</p>
<p>• Say something like "I'm being considered for positions in the range of (top 1/3rd), but again I'm negotiable."</p>
<p>• Be hesitant about taking a counter offer.</p>
<a href="/static/img/How to Master the Job Search.pdf">the plan_$29<a>
</p></div>
</div>
</div>
{% endblock %}
