{% extends 'base.html' %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="d-flex">
        <div class="querybar">
          {% include 'components/delete.html'%}
        </div>
      </div>
    </div>
    <div class="col-md-9">
    {% for user in users %}
      <table class="table">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>ID</th>
          <th>User Type</th>
          <th>Shelter</th>
        </tr>
        <tbody>
          <tr>
            <td>first name: {{user.given_name}}</td>
            <td>last name: {{user.family_name}}</td>
            <td>email: {{user.email}}</td>
            <td>phone: {{user.phone}}</td>
            <td>id: {{user._id}}</td>
            <td>type: {{user.user_type}}</td>
            <td>shelter: {{user.shelter}}</td>
          </tr>
        </tbody>
      </table>

    {% endfor %}
    </div>

  </div>
</div>

{% endblock %}
