{% extends 'base.html' %} {% block title %}Index{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="d-flex">
        <div class="querybar">
          {% include 'components/delete.html'%}
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <table class="table">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>ID</th>
          <th>User Type</th>
          <th>Shelter</th>
        </tr>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{user.given_name}}</td>
            <td>{{user.family_name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user._id}}</td>
            <td>{{user.type}}</td>
            <td>{{user.shelter_id}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>


    </div>

  </div>
</div>

{% endblock %}
