{% extends "base.html" %}

{% block body %}
<div class="profile container">
  <div class="profileNav row">
    <div class="col-lg-4">
    <img class="card-img-top" src="{{dog.thumbnail}}" alt="lost-dog">
    <a href="/edit/{{dog._id}}" class="btn btn-outline-primary">Edit</a>
    <a href="/delete/{{dog._id}}" class="btn btn-outline-danger">Delete</a>
    <a href="/" class="btn btn-warning">That's my dog!</a>
    <br><br>
    <h5>Located At</h5>
    <p>Puppers And Turtles</p>
    <p>3302 Canal St</p>
    <p>Houston TX</p>
    <p>713-757-8484</p>
    <p>www.slowpuppers.com</p>
    </div>
  </div>

  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Name</td>
        <td>{{dog.dog_name}}</td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>{{dog.gender}}</td>
      </tr>
      <tr>
        <td>Neutered/Spayed</td>
        <td>{{dog.fix}}</td>
      </tr>
      <tr>
        <td>Breed</td>
        <td>{{dog.breed}}</td>
      </tr>
      <tr>
        <td>Age</td>
        <td>{{dog.age}}</td>
      </tr>
      <tr>
        <td>Location Found</td>
        <td>{{dog.location_found}}</td>
      </tr>
      <tr>
        <td>Collar</td>
        <td>{{dog.collar}}</td>
      </tr>
      <tr>
        <td>Collar Color</td>
        <td>{{dog.collar_color}}</td>
      </tr>
      <tr>
        <td>ID CHIP</td>
        <td>{{dog.id_chip}}</td>
      </tr>
      <tr>
        <td>Height</td>
        <td>{{dog.height}}</td>
      </tr>
      <tr>
        <td>Weight</td>
        <td>{{dog.weight}}</td>
      </tr>
      <tr>
        <td>Primary Color</td>
        <td>{{dog.prim_color}}</td>
      </tr>
      <tr>
        <td>Secondary Color</td>
        <td>{{dog.sec_color}}</td>
      </tr>
      <tr>
        <td>Eyes</td>
        <td>{{dog.eyes}}</td>
      </tr>
      <tr>
        <td>Ears</td>
        <td>{{dog.ears}}</td>
      </tr>
      <tr>
        <td>Notes</td>
        <td>{{dog.notes}}</td>
      </tr>
    </tbody>
  </table>

<!-- <div class="container">
{% for key, value in dog.items()%}
<div class="row">
  <div class="col-lg-4">
    <h5>{{key}}</h5>
  </div>
  <div class="col-lg-4">
    <h5>{{value}}</h5>
  </div>
</div>
{% endfor %}
</div> -->
{% endblock %}
