{% extends 'base.html' %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div id="dog-list" class="d-flex flex-wrap justify-content-start">
          {% for dog in dogs_list%}
            <article class="card dog-card"
              data-breed="{{dog.breed}}"
              data-gender="{{dog.gender}}"
              data-age="{{dog.age}}"
              >
              <a href="dogs/{{dog._id}}">
                <img class="card-img-top" src="{{dog.thumbnail}}" alt="lost-dog">
                <div class="card-body">
                  <h4 class="card-title"> {{dog.dog_name}}</h4>
                  <p class="card-text">{{dog.dog_gender}} {{dog.breed}}</p>
                </div>
              </a>
              </article>
          {% endfor%}
        </div>
      </div>
      <div class="col-md-3">
        <div class="d-flex">
          {% include 'components/search.html'%}
        </div>
        <div class="d-flex">
          {% include 'components/delete.html'%}
        </div>
      </div>
    </div>
  </div>



{% endblock %}
