{% extends 'base.html' %}

{% block title %}Index {{self.title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      {% include 'components/dog-form.html'%}
    </div>
    <div class="col-sm-12 col-md-6">
      {% include 'components/dog-form-multi.html'%}

    </div>
  </div>
</div>



<script type="text/javascript">
  $('#formCarousel').carousel()

  $('#formCarousel').on('slide.bs.carousel', function () {

  })

  // Next Button
  $( ".carousel-control-next" ).on( "click", function() {
    console.log("NEXT");
  });

  // Previous Button
  $( ".carousel-control-prev" ).on( "click", function() {
    console.log("NEXT");
  });
</script>

{% endblock %}
