{% extends 'base.html' %}

{% block title %}Index {{self.title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}

<div class="container-fluid d-flex pt-5 justify-content-center" style="background-image: url('/static/img/blur1.jpg');">
  <div class="form">
    {% include 'components/dog-form-multi.html'%}
  </div>
</div>



<script type="text/javascript">
  $('#formCarousel').carousel()

  $('#formCarousel').on('slide.bs.carousel', function () {

  })

  // Next Button
  $( ".carousel-control-next" ).on( "click", function() {
    console.log("NEXT");
  });

  // Previous Button
  $( ".carousel-control-prev" ).on( "click", function() {
    console.log("NEXT");
  });
</script>
{% endblock %}
