{% extends 'base.html' %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
<div class="jumbotron vertical-center jumbotron-fluid">
  <div class="container">
    <div class="row jumbotrontext">
      <div class="col-lg-6">
      </div>
      <div class="col-lg-6">
        <h1 class="display-6">{% block jumbotrontext %}Get My Pup{% endblock %}</h1>
        {% if logged_in %}
          <p>Welcome</p>
          <a href="/dogs/new-dog" class="btn btn-outline-secondary btn-lg">Report a lost dog</a>
        {% else %}
        <form action="/login-google">
          <input class="form-check-input radio-button" type="radio" name="user_type" id="owner" value="owner" required>
          <label for="owner" class="radio-label">Login As Owner</label>
          <input class="form-check-input radio-button" type="radio" name="user_type" id="shelter" value="shelter" required>
          <label for="shelter" class="radio-label">Login As Shelter</label>
          <button type="submit" class="btn btn-outline-dark btn-lg"><i class=""></i>Login with Google</button>
        </form>
        {% endif %}
      </div>
    </div>

    <div class="row jumbotron-paygap">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <h2>Animal shelter</h2>
      </div>
        <div class="col-lg-3 col-md-2 col-sm-12"><h3><strong style="font-size: 30px;">Report a lost dog now.</strong></h3></div>
      <div class="col-lg-3 col-md-2 col-sm-12">
        <a href="/dogs/new-dog" class="btn btn-outline-secondary btn-lg">Report a lost dog</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
