{% extends 'base.html' %}

{% block title %}Index {{self.title}}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}

<div class="jumbotron vertical-center jumbotron-fluid">
  <div class="container">
    <div class="row jumbotrontext">
      <div class="col-lg-6">
      </div>
      <div class="col-lg-6">
        <h1 class="display-6">{% block jumbotrontext %}dog-shelter-app{% endblock %}</h1>
        <a href="/login-google" class="btn btn-outline-dark btn-lg"><i class=""></i>Login with Google</a>
      </div>
    </div>

    <div class="row jumbotron-paygap">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <h2>Animal shelter</h2>
      </div>
        <div class="col-lg-3 col-md-2 col-sm-12"><h3><strong style="font-size: 30px;">Report a lost dog now.</strong></h3></div>
      <div class="col-lg-3 col-md-2 col-sm-12">
        <a href="/dog" class="btn btn-outline-secondary btn-lg">Report a lost dog</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
