{% extends 'base.html' %}

{% block title %}Index {{self.title}}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block body %}
<div class="section">
  <div class="row">
    <div class="col s12 m6">

    </div>
    <div class="col s12 m6">
      <div class="card">
        <form action="/login" method="post">
          <div class="card-content">
            <h4>Create User Account</h4>
              <div class="input-field">
                <input name="email" type="email" class="validate">
                <label for="email" data-error="must enter valid email">Email</label>
              </div>
              <div class="input-field">
                <input name="password" type="password">
                <label for="password">Password</label>
              </div>
          </div>
          <div class="card-action space-between">
            <button class="waves-effect waves-light btn" type="submit"><i class="material-icons right"><i class="material-icons">account_circle</i></i>Create Account</button>
            <a href="/login-google"><i class=""></i>Login with Google</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
