{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}
<div class="section">
  <div class="container">
    <form class="" action="/profile" method="post">
      <input type="hidden" name="id" value="{{user._id}}">
        <div class="form-group">
          <label for="first_name" data-error="must enter valid email">first name</label>
          <input class="form-control"  type="text" name="given_name" value="{{user.given_name}}" autofocus>
        </div>
        <div class="form-group">
          <label for="last_name" data-error="must enter valid email">last name</label>
          <input class="form-control"  type="text" name="family_name" value="{{user.family_name}}">

        </div>
        <div class="form-group">
          <label for="email" data-error="must enter valid email">email</label>
          <input class="form-control"  type="email" name="email_visible" value="{{user.email}}" disabled>
        </div>
        <input class="form-control"  type="hidden" name="email" value="{{user.email}}">
        <div class="form-group">
          <label for="phone" data-error="must enter valid phone number">phone</label>
          <input class="form-control"  type="number" name="phone" value="{{user.phone}}">
        </div>
        <div class="form-group">
          <p>user type: {{user.type}}</p>
          <div class="d-inline-flex flex-wrap">
            <div class="">
              <input class="form-control"  class="form-check-input radio-button" type="radio" name="type" id="owner" value="owner" required>
              <label for="owner" class="radio-label">Owner</label>
            </div>
            <div class="">
              <input class="form-control"  class="form-check-input radio-button" type="radio" name="type" id="shelter" value="shelter" required>
              <label for="shelter" class="radio-label">Shelter</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          {% if shelter %}
            <p>User Shelter: {{user.shelter_id}}</p>
            <select name="shelter_id">
              {% for shelter in shelters_list %}
              <option value="{{shelter._id}}">{{shelter.name}}</option>
              {% endfor %}
            </select>
          {% else %}
            <p>NO SHELTER FOR YOU!</p>

          {% endif %}
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Update Profile</button>
          <a class="btn btn-danger" href="/logout" role="button">Logout</a>
        </div>
      </form>
      {% if shelter %}
        {% include 'components/shelter-form.html'%}
      {% else %}
      {% endif %}
  </div>
</div>
{% endblock%}
