<!DOCTYPE html>
<html lang="en">

  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Get My Pup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> -->
    <link rel="stylesheet" href="/static/styles/style.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    {% endblock %}
  </head>

  <body class="body_content">

    {% include 'components/navbar.html' %}

    <div id="content">{% block body %}{% endblock %}</div>

    {% include 'components/footer.html' %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="static/scripts/app-main.js"></script></script>


  </body>

</html>
