<label for="breed">Breed</label>
<input list="breed" name="breed">
<datalist id="breed">
  <option value="Affenpinscher">
  <option value="Afghan Hound">
  <option value="Afghan Shepherd">
  <option value="Aidi">
  <option value="Airedale Terrier">
  <option value="Akbash">
  <option value="Akita">
  <option value="Alano Español">
  <option value="Alaskan Husky">
  <option value="Alaskan Klee Kai">
  <option value="Alaskan Malamute">
  <option value="Alaunt">
  <option value="Alpine Dachsbracke">
  <option value="Alpine Spaniel">
  <option value="American Akita">
  <option value="American Bulldog">
  <option value="American Cocker Spaniel">
  <option value="American English Coonhound">
  <option value="American Eskimo Dog">
  <option value="American Foxhound">
  <option value="American Hairless Terrier">
  <option value="American Pit Bull Terrier">
  <option value="American Staffordshire Terrier">
  <option value="American Water Spaniel">
  <option value="Anatolian Shepherd Dog">
  <option value="Andalusian Hound">
  <option value="Anglo-Français de Petite Vénerie">
  <option value="Appenzeller Sennenhund">
  <option value="Ariege Pointer">
  <option value="Ariegeois">
  <option value="Armant">
  <option value="Armenian Gampr dog">
  <option value="Artois Hound">
  <option value="Australian Cattle Dog">
  <option value="Australian Kelpie">
  <option value="Australian Shepherd">
  <option value="Australian Silky Terrier">
  <option value="Australian Stumpy Tail Cattle Dog[10]">
  <option value="Australian Terrier">
  <option value="Austrian Black and Tan Hound">
  <option value="Austrian Pinscher">
  <option value="Azawakh">
  <option value="Bakharwal Dog">
  <option value="Barbet">
  <option value="Basenji">
  <option value="Basque Ratter">
  <option value="Basque Shepherd Dog">
  <option value="Basset Artésien Normand">
  <option value="Basset Bleu de Gascogne">
  <option value="Basset Fauve de Bretagne">
  <option value="Basset Griffon Vendéen, Grand">
  <option value="Basset Griffon Vendéen, Petit">
  <option value="Basset Hound">
  <option value="Bavarian Mountain Hound">
  <option value="Beagle">
  <option value="Beagle-Harrier">
  <option value="Bearded Collie">
  <option value="Beauceron">
  <option value="Bedlington Terrier">
  <option value="Belgian Shepherd Dog (Groenendael)">
  <option value="Belgian Shepherd Dog (Laekenois)">
  <option value="Belgian Shepherd Dog (Malinois)">
  <option value="Belgian Shepherd Dog (Tervuren)">
  <option value="Bergamasco Shepherd">
  <option value="Berger Blanc Suisse">
  <option value="Berger Picard">
  <option value="Bernese Mountain Dog">
  <option value="Bichon Frisé">
  <option value="Billy">
  <option value="Black and Tan Coonhound">
  <option value="Black and Tan Virginia Foxhound">
  <option value="Black Norwegian Elkhound">
  <option value="Black Russian Terrier">
  <option value="Black Mouth Cur">
  <option value="Bleu de Gascogne, Grand">
  <option value="Bleu de Gascogne, Petit">
  <option value="Bloodhound">
  <option value="Blue Heeler">
  <option value="Blue Lacy">
  <option value="Blue Paul Terrier">
  <option value="Blue Picardy Spaniel">
  <option value="Bluetick Coonhound">
  <option value="Boerboel">
  <option value="Bohemian Shepherd">
  <option value="Bolognese">
  <option value="Border Collie">
  <option value="Border Terrier">
  <option value="Borzoi">
  <option value="Bosnian Coarse-haired Hound">
  <option value="Boston Terrier">
  <option value="Bouvier des Ardennes">
  <option value="Bouvier des Flandres">
  <option value="Boxer">
  <option value="Boykin Spaniel">
  <option value="Bracco Italiano">
  <option value="Braque d'Auvergne">
  <option value="Braque du Bourbonnais">
  <option value="Braque du Puy">
  <option value="Braque Francais">
  <option value="Braque Saint-Germain">
  <option value="Brazilian Dogo">
  <option value="Brazilian Terrier">
  <option value="Briard">
  <option value="Briquet Griffon Vendéen">
  <option value="Brittany">
  <option value="Broholmer">
  <option value="Bruno Jura Hound">
  <option value="Bucovina Shepherd Dog">
  <option value="Bull and Terrier">
  <option value="Bull Terrier">
  <option value="Bull Terrier (Miniature)">
  <option value="Bulldog">
  <option value="Bullenbeisser">
  <option value="Bullmastiff">
  <option value="Bully Kutta">
  <option value="Burgos Pointer">
  <option value="Cairn Terrier">
  <option value="Canaan Dog">
  <option value="Canadian Eskimo Dog">
  <option value="Cane Corso">
  <option value="Cantabrian Water Dog">
  <option value="Cão da Serra de Aires">
  <option value="Cão de Castro Laboreiro">
  <option value="Cão de Gado Transmontano">
  <option value="Cão Fila de São Miguel">
  <option value="Carolina Dog">
  <option value="Carpathian Shepherd Dog">
  <option value="Catahoula Leopard Dog">
  <option value="Catalan Sheepdog">
  <option value="Caucasian Shepherd Dog">
  <option value="Cavalier King Charles Spaniel">
  <option value="Central Asian Shepherd Dog">
  <option value="Cesky Fousek">
  <option value="Cesky Terrier">
  <option value="Chesapeake Bay Retriever">
  <option value="Chien Français Blanc et Noir">
  <option value="Chien Français Blanc et Orange">
  <option value="Chien Français Tricolore">
  <option value="Chien-gris">
  <option value="Chihuahua">
  <option value="Chilean Fox Terrier">
  <option value="Chinese Chongqing Dog">
  <option value="Chinese Crested Dog">
  <option value="Chinese Imperial Dog">
  <option value="Chinook">
  <option value="Chippiparai">
  <option value="Chow Chow">
  <option value="Cierny Sery">
  <option value="Cirneco dell'Etna">
  <option value="Clumber Spaniel">
  <option value="Collie, Rough">
  <option value="Collie, Smooth">
  <option value="Combai">
  <option value="Cordoba Fighting Dog">
  <option value="Coton de Tulear">
  <option value="Cretan Hound">
  <option value="Croatian Sheepdog">
  <option value="Cumberland Sheepdog">
  <option value="Curly-Coated Retriever">
  <option value="Cursinu">
  <option value="Czechoslovakian Wolfdog">
  <option value="Dachshund">
  <option value="Dalmatian">
  <option value="Dandie Dinmont Terrier">
  <option value="Danish-Swedish Farmdog">
  <option value="Deutsche Bracke">
  <option value="Doberman Pinscher">
  <option value="Dogo Argentino">
  <option value="Dogo Cubano">
  <option value="Dogue de Bordeaux">
  <option value="Drentse Patrijshond">
  <option value="Drever">
  <option value="Dunker">
  <option value="Dutch Shepherd">
  <option value="Dutch Smoushond">
  <option value="East Siberian Laika">
  <option value="East European Shepherd">
  <option value="Elo">
  <option value="English Cocker Spaniel">
  <option value="English Foxhound">
  <option value="English Mastiff">
  <option value="English Setter">
  <option value="English Shepherd">
  <option value="English Springer Spaniel">
  <option value="English Toy Terrier (Black & Tan)">
  <option value="English Water Spaniel">
  <option value="English White Terrier">
  <option value="Entlebucher Mountain Dog">
  <option value="Estonian Hound">
  <option value="Estrela Mountain Dog">
  <option value="Eurasier">
  <option value="Eurohound">
  <option value="Field Spaniel">
  <option value="Fila Brasileiro">
  <option value="Finnish Hound">
  <option value="Finnish Lapphund">
  <option value="Finnish Spitz">
  <option value="Flat-Coated Retriever">
  <option value="Fox Terrier (Smooth)">
  <option value="Fox Terrier, Wire">
  <option value="French Brittany">
  <option value="French Bulldog">
  <option value="French Spaniel">
  <option value="Gaddi Dog">
  <option value="Galgo Español">
  <option value="Galician Cattle Dog">
  <option value="Garafian Shepherd">
  <option value="Gascon Saintongeois">
  <option value="Georgian Shepherd Dog">
  <option value="German Longhaired Pointer">
  <option value="German Pinscher">
  <option value="German Roughhaired Pointer">
  <option value="German Shepherd Dog">
  <option value="German Shorthaired Pointer">
  <option value="German Spaniel">
  <option value="German Spitz">
  <option value="German Wirehaired Pointer">
  <option value="Giant Schnauzer">
  <option value="Glen of Imaal Terrier">
  <option value="Golden Retriever">
  <option value="Gordon Setter">
  <option value="Gran Mastín de Borínquen">
  <option value="Grand Anglo-Français Blanc et Noir">
  <option value="Grand Anglo-Français Blanc et Orange">
  <option value="Grand Anglo-Français Tricolore">
  <option value="Grand Griffon Vendéen">
  <option value="Great Dane">
  <option value="Great Pyrenees">
  <option value="Greater Swiss Mountain Dog">
  <option value="Greek Harehound">
  <option value="Greenland Dog">
  <option value="Greyhound">
  <option value="Griffon Bleu de Gascogne">
  <option value="Griffon Bruxellois">
  <option value="Griffon Fauve de Bretagne">
  <option value="Griffon Nivernais">
  <option value="Guatemalan Dogo">
  <option value="Hamiltonstövare">
  <option value="Hanover Hound">
  <option value="Hare Indian Dog">
  <option value="Harrier">
  <option value="Havanese">
  <option value="Hawaiian Poi Dog">
  <option value="Himalayan Sheepdog">
  <option value="Hokkaido">
  <option value="Hortaya Borzaya">
  <option value="Hovawart">
  <option value="Huntaway">
  <option value="Hygenhund">
  <option value="Ibizan Hound">
  <option value="Icelandic Sheepdog">
  <option value="Indian Pariah Dog">
  <option value="Indian Spitz">
  <option value="Irish Red and White Setter">
  <option value="Irish Setter">
  <option value="Irish Terrier">
  <option value="Irish Water Spaniel">
  <option value="Irish Wolfhound">
  <option value="Istrian Coarse-haired Hound">
  <option value="Istrian Shorthaired Hound">
  <option value="Italian Greyhound">
  <option value="Jack Russell Terrier">
  <option value="Jagdterrier">
  <option value="Jämthund">
  <option value="Japanese Chin">
  <option value="Japanese Spitz">
  <option value="Japanese Terrier">
  <option value="Kaikadi">
  <option value="Kai Ken">
  <option value="Kangal Dog">
  <option value="Kanni">
  <option value="Karakachan Dog">
  <option value="Karelian Bear Dog">
  <option value="Karst Shepherd">
  <option value="Keeshond">
  <option value="Kerry Beagle">
  <option value="Kerry Blue Terrier">
  <option value="King Charles Spaniel">
  <option value="King Shepherd">
  <option value="Kintamani">
  <option value="Kishu Ken">
  <option value="Komondor">
  <option value="Kooikerhondje">
  <option value="Koolie">
  <option value="Korean Jindo">
  <option value="Kromfohrländer">
  <option value="Kumaon Mastiff">
  <option value="Kunming Wolfdog">
  <option value="Kurī">
  <option value="Kuvasz">
  <option value="Kyi-Leo">
  <option value="Labrador Husky">
  <option value="Labrador Retriever">
  <option value="Lagotto Romagnolo">
  <option value="Lakeland Terrier">
  <option value="Lancashire Heeler">
  <option value="Landseer">
  <option value="Lapponian Herder">
  <option value="Leonberger">
  <option value="Lhasa Apso">
  <option value="Lithuanian Hound">
  <option value="Löwchen">
  <option value="Mackenzie River Husky">
  <option value="Magyar agár">
  <option value="Mahratta Greyhound">
  <option value="Majorca Ratter">
  <option value="Majorca Shepherd Dog">
  <option value="Maltese">
  <option value="Manchester Terrier">
  <option value="Maremma Sheepdog">
  <option value="McNab">
  <option value="Mexican Hairless Dog">
  <option value="Miniature Australian Shepherd">
  <option value="Miniature American Shepherd">
  <option value="Miniature Fox Terrier">
  <option value="Miniature Pinscher">
  <option value="Miniature Schnauzer">
  <option value="Miniature Shar Pei">
  <option value="Mioritic">
  <option value="Molossus">
  <option value="Molossus of Epirus">
  <option value="Montenegrin Mountain Hound">
  <option value="Moscow Watchdog">
  <option value="Moscow Water Dog">
  <option value="Mountain Cur">
  <option value="Mucuchies">
  <option value="Mudhol Hound">
  <option value="Mudi">
  <option value="Münsterländer, Large">
  <option value="Münsterländer, Small">
  <option value="Murcian Ratter">
  <option value="Neapolitan Mastiff">
  <option value="Newfoundland">
  <option value="New Zealand Heading Dog">
  <option value="Norfolk Spaniel">
  <option value="Norfolk Terrier">
  <option value="Norrbottenspets">
  <option value="North Country Beagle">
  <option value="Northern Inuit Dog">
  <option value="Norwegian Buhund">
  <option value="Norwegian Elkhound">
  <option value="Norwegian Lundehund">
  <option value="Norwich Terrier">
  <option value="Nova Scotia Duck-Tolling Retriever">
  <option value="Old Croatian Sighthound">
  <option value="Old Danish Pointer">
  <option value="Old English Sheepdog">
  <option value="Old English Terrier">
  <option value="Old German Shepherd Dog">
  <option value="Old Time Farm Shepherd">
  <option value="Olde English Bulldogge">
  <option value="Otterhound">
  <option value="Pachon Navarro">
  <option value="Pandikona Hunting Dog">
  <option value="Paisley Terrier">
  <option value="Papillon">
  <option value="Parson Russell Terrier">
  <option value="Patterdale Terrier">
  <option value="Pekingese">
  <option value="Perro de Presa Canario">
  <option value="Perro de Presa Mallorquin">
  <option value="Peruvian Hairless Dog">
  <option value="Phalène">
  <option value="Pharaoh Hound">
  <option value="Phu Quoc Ridgeback">
  <option value="Picardy Spaniel">
  <option value="Plummer Terrier">
  <option value="Plott Hound">
  <option value="Podenco Canario">
  <option value="Pointer">
  <option value="Poitevin">
  <option value="Polish Greyhound">
  <option value="Polish Hound">
  <option value="Polish Hunting Dog">
  <option value="Polish Lowland Sheepdog">
  <option value="Polish Tatra Sheepdog">
  <option value="Pomeranian">
  <option value="Pont-Audemer Spaniel">
  <option value="Poodle">
  <option value="Porcelaine">
  <option value="Portuguese Podengo">
  <option value="Portuguese Pointer">
  <option value="Portuguese Water Dog">
  <option value="Posavac Hound">
  <option value="Pražský Krysařík">
  <option value="Pudelpointer">
  <option value="Pug">
  <option value="Puli">
  <option value="Pumi">
  <option value="Pungsan Dog">
  <option value="Pyrenean Mastiff">
  <option value="Pyrenean Shepherd">
  <option value="Rafeiro do Alentejo">
  <option value="Rajapalayam">
  <option value="Rampur Greyhound">
  <option value="Rastreador Brasileiro">
  <option value="Ratonero Bodeguero Andaluz">
  <option value="Ratonero Valenciano">
  <option value="Rat Terrier">
  <option value="Redbone Coonhound">
  <option value="Rhodesian Ridgeback">
  <option value="Rottweiler">
  <option value="Russian Spaniel">
  <option value="Russian Toy">
  <option value="Russian Tracker">
  <option value="Russo-European Laika">
  <option value="Russell Terrier">
  <option value="Saarloos Wolfdog">
  <option value="Sabueso Español">
  <option value="Sabueso fino Colombiano">
  <option value="Saint-Usuge Spaniel">
  <option value="Sakhalin Husky">
  <option value="Saluki">
  <option value="Samoyed">
  <option value="Sapsali">
  <option value="Šarplaninac">
  <option value="Schapendoes">
  <option value="Schillerstövare">
  <option value="Schipperke">
  <option value="Standard Schnauzer">
  <option value="Schweizer Laufhund">
  <option value="Schweizerischer Niederlaufhund">
  <option value="Scotch Collie">
  <option value="Scottish Deerhound">
  <option value="Scottish Terrier">
  <option value="Sealyham Terrier">
  <option value="Segugio Italiano">
  <option value="Seppala Siberian Sleddog">
  <option value="Serbian Hound">
  <option value="Serbian Tricolour Hound">
  <option value="Seskar Seal Dog">
  <option value="Shar Pei">
  <option value="Shetland Sheepdog">
  <option value="Shiba Inu">
  <option value="Shih Tzu">
  <option value="Shikoku">
  <option value="Shiloh Shepherd">
  <option value="Siberian Husky">
  <option value="Silken Windhound">
  <option value="Sinhala Hound">
  <option value="Skye Terrier">
  <option value="Sloughi">
  <option value="Slovak Cuvac">
  <option value="Slovakian Rough-haired Pointer">
  <option value="Slovenský Kopov">
  <option value="Smålandsstövare">
  <option value="Small Greek Domestic Dog">
  <option value="Soft-Coated Wheaten Terrier">
  <option value="South Russian Ovcharka">
  <option value="Southern Hound">
  <option value="Spanish Mastiff">
  <option value="Spanish Water Dog">
  <option value="Spinone Italiano">
  <option value="Sporting Lucas Terrier">
  <option value="St. Bernard">
  <option value="St. John's Water Dog">
  <option value="Stabyhoun">
  <option value="Staffordshire Bull Terrier">
  <option value="Stephens Cur">
  <option value="Styrian Coarse-haired Hound">
  <option value="Sussex Spaniel">
  <option value="Swedish Lapphund">
  <option value="Swedish Vallhund">
  <option value="Tahltan Bear Dog">
  <option value="Taigan">
  <option value="Taiwan Dog">
  <option value="Talbot">
  <option value="Tamaskan Dog">
  <option value="Teddy Roosevelt Terrier">
  <option value="Telomian">
  <option value="Tenterfield Terrier">
  <option value="Terceira Mastiff">
  <option value="Thai Bangkaew Dog">
  <option value="Thai Ridgeback">
  <option value="Tibetan Mastiff">
  <option value="Tibetan Spaniel">
  <option value="Tibetan Terrier">
  <option value="Tornjak">
  <option value="Tosa">
  <option value="Toy Bulldog">
  <option value="Toy Fox Terrier">
  <option value="Toy Manchester Terrier">
  <option value="Toy Trawler Spaniel">
  <option value="Transylvanian Hound">
  <option value="Treeing Cur">
  <option value="Treeing Tennessee Brindle">
  <option value="Treeing Walker Coonhound">
  <option value="Trigg Hound">
  <option value="Tweed Water Spaniel">
  <option value="Tyrolean Hound">
  <option value="Uruguayan Cimarron">
  <option value="Valencian Ratter">
  <option value="Vanjari Hound">
  <option value="Villano de las Encartaciones">
  <option value="Vizsla">
  <option value="Volpino Italiano">
  <option value="Weimaraner">
  <option value="Welsh Corgi, Cardigan">
  <option value="Welsh Corgi, Pembroke">
  <option value="Welsh Sheepdog">
  <option value="Welsh Springer Spaniel">
  <option value="Welsh Terrier">
  <option value="West Highland White Terrier">
  <option value="West Siberian Laika">
  <option value="Westphalian Dachsbracke">
  <option value="Wetterhoun">
  <option value="Whippet">
  <option value="White Shepherd">
  <option value="Wirehaired Pointing Griffon">
  <option value="Wirehaired Vizsla">
  <option value="Xiasi Dog">
  <option value="Yorkshire Terrier">
</datalist>
