
<!-- MAKE SURE THAT THIS LIST MATCHES UP WITH INPUT. CAPITALIZATION WILL THROW THINGS OFF AND FILTERING WONT WORK. -->
<!-- I went ahead and lowercase'd everything so it matches up and no issues would arise for filtering -->
<label for="breed">Breed</label>
<input id="breed_list" list="breed" name="breed" class="form-control">
<datalist id="breed">
  <option value="mixed af">
  <option value="asian af">
  <option value="affenpinscher">
  <option value="afghan hound">
  <option value="afghan shepherd">
  <option value="aidi">
  <option value="airedale terrier">
  <option value="akbash">
  <option value="akita">
  <option value="alano español">
  <option value="alaskan husky">
  <option value="alaskan klee kai">
  <option value="alaskan malamute">
  <option value="alaunt">
  <option value="alpine dachsbracke">
  <option value="alpine spaniel">
  <option value="american akita">
  <option value="american bulldog">
  <option value="american cocker spaniel">
  <option value="american english coonhound">
  <option value="american eskimo dog">
  <option value="american foxhound">
  <option value="american hairless terrier">
  <option value="american pit bull terrier">
  <option value="american staffordshire terrier">
  <option value="american water spaniel">
  <option value="anatolian shepherd dog">
  <option value="andalusian hound">
  <option value="anglo-français de petite vénerie">
  <option value="appenzeller sennenhund">
  <option value="ariege pointer">
  <option value="ariegeois">
  <option value="armant">
  <option value="armenian gampr dog">
  <option value="artois hound">
  <option value="australian cattle dog">
  <option value="australian kelpie">
  <option value="australian shepherd">
  <option value="australian silky terrier">
  <option value="australian stumpy tail cattle dog[10]">
  <option value="australian terrier">
  <option value="austrian black and tan hound">
  <option value="austrian pinscher">
  <option value="azawakh">
  <option value="bakharwal dog">
  <option value="barbet">
  <option value="basenji">
  <option value="basque ratter">
  <option value="basque shepherd dog">
  <option value="basset artésien normand">
  <option value="basset bleu de gascogne">
  <option value="basset fauve de bretagne">
  <option value="basset griffon vendéen, grand">
  <option value="basset griffon vendéen, petit">
  <option value="basset hound">
  <option value="bavarian mountain hound">
  <option value="beagle">
  <option value="beagle-harrier">
  <option value="bearded collie">
  <option value="beauceron">
  <option value="bedlington terrier">
  <option value="belgian shepherd dog (groenendael)">
  <option value="belgian shepherd dog (laekenois)">
  <option value="belgian shepherd dog (malinois)">
  <option value="belgian shepherd dog (tervuren)">
  <option value="bergamasco shepherd">
  <option value="berger blanc suisse">
  <option value="berger picard">
  <option value="bernese mountain dog">
  <option value="bichon frisé">
  <option value="billy">
  <option value="black and tan coonhound">
  <option value="black and tan virginia foxhound">
  <option value="black norwegian elkhound">
  <option value="black russian terrier">
  <option value="black mouth cur">
  <option value="bleu de gascogne, grand">
  <option value="bleu de gascogne, petit">
  <option value="bloodhound">
  <option value="blue heeler">
  <option value="blue lacy">
  <option value="blue paul terrier">
  <option value="blue picardy spaniel">
  <option value="bluetick coonhound">
  <option value="boerboel">
  <option value="bohemian shepherd">
  <option value="bolognese">
  <option value="border collie">
  <option value="border terrier">
  <option value="borzoi">
  <option value="bosnian coarse-haired hound">
  <option value="boston terrier">
  <option value="bouvier des ardennes">
  <option value="bouvier des flandres">
  <option value="boxer">
  <option value="boykin spaniel">
  <option value="bracco italiano">
  <option value="braque d'auvergne">
  <option value="braque du bourbonnais">
  <option value="braque du puy">
  <option value="braque francais">
  <option value="braque saint-germain">
  <option value="brazilian dogo">
  <option value="brazilian terrier">
  <option value="briard">
  <option value="briquet griffon vendéen">
  <option value="brittany">
  <option value="broholmer">
  <option value="bruno jura hound">
  <option value="bucovina shepherd dog">
  <option value="bull and terrier">
  <option value="bull terrier">
  <option value="bull terrier (miniature)">
  <option value="bulldog">
  <option value="bullenbeisser">
  <option value="bullmastiff">
  <option value="bully kutta">
  <option value="burgos pointer">
  <option value="cairn terrier">
  <option value="canaan dog">
  <option value="canadian eskimo dog">
  <option value="cane corso">
  <option value="cantabrian water dog">
  <option value="cão da serra de aires">
  <option value="cão de castro laboreiro">
  <option value="cão de gado transmontano">
  <option value="cão fila de são miguel">
  <option value="carolina dog">
  <option value="carpathian shepherd dog">
  <option value="catahoula leopard dog">
  <option value="catalan sheepdog">
  <option value="caucasian shepherd dog">
  <option value="cavalier king charles spaniel">
  <option value="central asian shepherd dog">
  <option value="cesky fousek">
  <option value="cesky terrier">
  <option value="chesapeake bay retriever">
  <option value="chien français blanc et noir">
  <option value="chien français blanc et orange">
  <option value="chien français tricolore">
  <option value="chien-gris">
  <option value="chihuahua">
  <option value="chilean fox terrier">
  <option value="chinese chongqing dog">
  <option value="chinese crested dog">
  <option value="chinese imperial dog">
  <option value="chinook">
  <option value="chippiparai">
  <option value="chow chow">
  <option value="cierny sery">
  <option value="cirneco dell'etna">
  <option value="clumber spaniel">
  <option value="collie, rough">
  <option value="collie, smooth">
  <option value="combai">
  <option value="cordoba fighting dog">
  <option value="coton de tulear">
  <option value="cretan hound">
  <option value="croatian sheepdog">
  <option value="cumberland sheepdog">
  <option value="curly-coated retriever">
  <option value="cursinu">
  <option value="czechoslovakian wolfdog">
  <option value="dachshund">
  <option value="dalmatian">
  <option value="dandie dinmont terrier">
  <option value="danish-swedish farmdog">
  <option value="deutsche bracke">
  <option value="doberman pinscher">
  <option value="dogo argentino">
  <option value="dogo cubano">
  <option value="dogue de bordeaux">
  <option value="drentse patrijshond">
  <option value="drever">
  <option value="dunker">
  <option value="dutch shepherd">
  <option value="dutch smoushond">
  <option value="east siberian laika">
  <option value="east european shepherd">
  <option value="elo">
  <option value="english cocker spaniel">
  <option value="english foxhound">
  <option value="english mastiff">
  <option value="english setter">
  <option value="english shepherd">
  <option value="english springer spaniel">
  <option value="english toy terrier (black & tan)">
  <option value="english water spaniel">
  <option value="english white terrier">
  <option value="entlebucher mountain dog">
  <option value="estonian hound">
  <option value="estrela mountain dog">
  <option value="eurasier">
  <option value="eurohound">
  <option value="field spaniel">
  <option value="fila brasileiro">
  <option value="finnish hound">
  <option value="finnish lapphund">
  <option value="finnish spitz">
  <option value="flat-coated retriever">
  <option value="fox terrier (smooth)">
  <option value="fox terrier, wire">
  <option value="french brittany">
  <option value="french bulldog">
  <option value="french spaniel">
  <option value="gaddi dog">
  <option value="galgo español">
  <option value="galician cattle dog">
  <option value="garafian shepherd">
  <option value="gascon saintongeois">
  <option value="georgian shepherd dog">
  <option value="german longhaired pointer">
  <option value="german pinscher">
  <option value="german roughhaired pointer">
  <option value="german shepherd dog">
  <option value="german shorthaired pointer">
  <option value="german spaniel">
  <option value="german spitz">
  <option value="german wirehaired pointer">
  <option value="giant schnauzer">
  <option value="glen of imaal terrier">
  <option value="golden retriever">
  <option value="gordon setter">
  <option value="gran mastín de borínquen">
  <option value="grand anglo-français blanc et noir">
  <option value="grand anglo-français blanc et orange">
  <option value="grand anglo-français tricolore">
  <option value="grand griffon vendéen">
  <option value="great dane">
  <option value="great pyrenees">
  <option value="greater swiss mountain dog">
  <option value="greek harehound">
  <option value="greenland dog">
  <option value="greyhound">
  <option value="griffon bleu de gascogne">
  <option value="griffon bruxellois">
  <option value="griffon fauve de bretagne">
  <option value="griffon nivernais">
  <option value="guatemalan dogo">
  <option value="hamiltonstövare">
  <option value="hanover hound">
  <option value="hare indian dog">
  <option value="harrier">
  <option value="havanese">
  <option value="hawaiian poi dog">
  <option value="himalayan sheepdog">
  <option value="hokkaido">
  <option value="hortaya borzaya">
  <option value="hovawart">
  <option value="huntaway">
  <option value="hygenhund">
  <option value="ibizan hound">
  <option value="icelandic sheepdog">
  <option value="indian pariah dog">
  <option value="indian spitz">
  <option value="irish red and white setter">
  <option value="irish setter">
  <option value="irish terrier">
  <option value="irish water spaniel">
  <option value="irish wolfhound">
  <option value="istrian coarse-haired hound">
  <option value="istrian shorthaired hound">
  <option value="italian greyhound">
  <option value="jack russell terrier">
  <option value="jagdterrier">
  <option value="jämthund">
  <option value="japanese chin">
  <option value="japanese spitz">
  <option value="japanese terrier">
  <option value="kaikadi">
  <option value="kai ken">
  <option value="kangal dog">
  <option value="kanni">
  <option value="karakachan dog">
  <option value="karelian bear dog">
  <option value="karst shepherd">
  <option value="keeshond">
  <option value="kerry beagle">
  <option value="kerry blue terrier">
  <option value="king charles spaniel">
  <option value="king shepherd">
  <option value="kintamani">
  <option value="kishu ken">
  <option value="komondor">
  <option value="kooikerhondje">
  <option value="koolie">
  <option value="korean jindo">
  <option value="kromfohrländer">
  <option value="kumaon mastiff">
  <option value="kunming wolfdog">
  <option value="kurī">
  <option value="kuvasz">
  <option value="kyi-leo">
  <option value="labrador husky">
  <option value="labrador retriever">
  <option value="lagotto romagnolo">
  <option value="lakeland terrier">
  <option value="lancashire heeler">
  <option value="landseer">
  <option value="lapponian herder">
  <option value="leonberger">
  <option value="lhasa apso">
  <option value="lithuanian hound">
  <option value="löwchen">
  <option value="mackenzie river husky">
  <option value="magyar agár">
  <option value="mahratta greyhound">
  <option value="majorca ratter">
  <option value="majorca shepherd dog">
  <option value="maltese">
  <option value="manchester terrier">
  <option value="maremma sheepdog">
  <option value="mcnab">
  <option value="mexican hairless dog">
  <option value="miniature australian shepherd">
  <option value="miniature american shepherd">
  <option value="miniature fox terrier">
  <option value="miniature pinscher">
  <option value="miniature schnauzer">
  <option value="miniature shar pei">
  <option value="mioritic">
  <option value="molossus">
  <option value="molossus of epirus">
  <option value="montenegrin mountain hound">
  <option value="moscow watchdog">
  <option value="moscow water dog">
  <option value="mountain cur">
  <option value="mucuchies">
  <option value="mudhol hound">
  <option value="mudi">
  <option value="münsterländer, large">
  <option value="münsterländer, small">
  <option value="murcian ratter">
  <option value="neapolitan mastiff">
  <option value="newfoundland">
  <option value="new zealand heading dog">
  <option value="norfolk spaniel">
  <option value="norfolk terrier">
  <option value="norrbottenspets">
  <option value="north country beagle">
  <option value="northern inuit dog">
  <option value="norwegian buhund">
  <option value="norwegian elkhound">
  <option value="norwegian lundehund">
  <option value="norwich terrier">
  <option value="nova scotia duck-tolling retriever">
  <option value="old croatian sighthound">
  <option value="old danish pointer">
  <option value="old english sheepdog">
  <option value="old english terrier">
  <option value="old german shepherd dog">
  <option value="old time farm shepherd">
  <option value="olde english bulldogge">
  <option value="otterhound">
  <option value="pachon navarro">
  <option value="pandikona hunting dog">
  <option value="paisley terrier">
  <option value="papillon">
  <option value="parson russell terrier">
  <option value="patterdale terrier">
  <option value="pekingese">
  <option value="perro de presa canario">
  <option value="perro de presa mallorquin">
  <option value="peruvian hairless dog">
  <option value="phalène">
  <option value="pharaoh hound">
  <option value="phu quoc ridgeback">
  <option value="picardy spaniel">
  <option value="plummer terrier">
  <option value="plott hound">
  <option value="podenco canario">
  <option value="pointer">
  <option value="poitevin">
  <option value="polish greyhound">
  <option value="polish hound">
  <option value="polish hunting dog">
  <option value="polish lowland sheepdog">
  <option value="polish tatra sheepdog">
  <option value="pomeranian">
  <option value="pont-audemer spaniel">
  <option value="poodle">
  <option value="porcelaine">
  <option value="portuguese podengo">
  <option value="portuguese pointer">
  <option value="portuguese water dog">
  <option value="posavac hound">
  <option value="pražský krysařík">
  <option value="pudelpointer">
  <option value="pug">
  <option value="puli">
  <option value="pumi">
  <option value="pungsan dog">
  <option value="pyrenean mastiff">
  <option value="pyrenean shepherd">
  <option value="rafeiro do alentejo">
  <option value="rajapalayam">
  <option value="rampur greyhound">
  <option value="rastreador brasileiro">
  <option value="ratonero bodeguero andaluz">
  <option value="ratonero valenciano">
  <option value="rat terrier">
  <option value="redbone coonhound">
  <option value="rhodesian ridgeback">
  <option value="rottweiler">
  <option value="russian spaniel">
  <option value="russian toy">
  <option value="russian tracker">
  <option value="russo-european laika">
  <option value="russell terrier">
  <option value="saarloos wolfdog">
  <option value="sabueso español">
  <option value="sabueso fino colombiano">
  <option value="saint-usuge spaniel">
  <option value="sakhalin husky">
  <option value="saluki">
  <option value="samoyed">
  <option value="sapsali">
  <option value="šarplaninac">
  <option value="schapendoes">
  <option value="schillerstövare">
  <option value="schipperke">
  <option value="standard schnauzer">
  <option value="schweizer laufhund">
  <option value="schweizerischer niederlaufhund">
  <option value="scotch collie">
  <option value="scottish deerhound">
  <option value="scottish terrier">
  <option value="sealyham terrier">
  <option value="segugio italiano">
  <option value="seppala siberian sleddog">
  <option value="serbian hound">
  <option value="serbian tricolour hound">
  <option value="seskar seal dog">
  <option value="shar pei">
  <option value="shetland sheepdog">
  <option value="shiba inu">
  <option value="shih tzu">
  <option value="shikoku">
  <option value="shiloh shepherd">
  <option value="siberian husky">
  <option value="silken windhound">
  <option value="sinhala hound">
  <option value="skye terrier">
  <option value="sloughi">
  <option value="slovak cuvac">
  <option value="slovakian rough-haired pointer">
  <option value="slovenský kopov">
  <option value="smålandsstövare">
  <option value="small greek domestic dog">
  <option value="soft-coated wheaten terrier">
  <option value="south russian ovcharka">
  <option value="southern hound">
  <option value="spanish mastiff">
  <option value="spanish water dog">
  <option value="spinone italiano">
  <option value="sporting lucas terrier">
  <option value="st. bernard">
  <option value="st. john's water dog">
  <option value="stabyhoun">
  <option value="staffordshire bull terrier">
  <option value="stephens cur">
  <option value="styrian coarse-haired hound">
  <option value="sussex spaniel">
  <option value="swedish lapphund">
  <option value="swedish vallhund">
  <option value="tahltan bear dog">
  <option value="taigan">
  <option value="taiwan dog">
  <option value="talbot">
  <option value="tamaskan dog">
  <option value="teddy roosevelt terrier">
  <option value="telomian">
  <option value="tenterfield terrier">
  <option value="terceira mastiff">
  <option value="thai bangkaew dog">
  <option value="thai ridgeback">
  <option value="tibetan mastiff">
  <option value="tibetan spaniel">
  <option value="tibetan terrier">
  <option value="tornjak">
  <option value="tosa">
  <option value="toy bulldog">
  <option value="toy fox terrier">
  <option value="toy manchester terrier">
  <option value="toy trawler spaniel">
  <option value="transylvanian hound">
  <option value="treeing cur">
  <option value="treeing tennessee brindle">
  <option value="treeing walker coonhound">
  <option value="trigg hound">
  <option value="tweed water spaniel">
  <option value="tyrolean hound">
  <option value="uruguayan cimarron">
  <option value="valencian ratter">
  <option value="vanjari hound">
  <option value="villano de las encartaciones">
  <option value="vizsla">
  <option value="volpino italiano">
  <option value="weimaraner">
  <option value="welsh corgi, cardigan">
  <option value="welsh corgi, pembroke">
  <option value="welsh sheepdog">
  <option value="welsh springer spaniel">
  <option value="welsh terrier">
  <option value="west highland white terrier">
  <option value="west siberian laika">
  <option value="westphalian dachsbracke">
  <option value="wetterhoun">
  <option value="whippet">
  <option value="white shepherd">
  <option value="wirehaired pointing griffon">
  <option value="wirehaired vizsla">
  <option value="xiasi dog">
  <option value="yorkshire terrier">
</datalist>
