<label for="color">Color</label>
<input id="color_list" list="color" name="color" class="form-control">
<datalist id="color">
    <option value="black">
    <option value="white">
    <option value="dark brown">
    <option value="light brown">
    <option value="cream">
    <option value="rust">
    <option value="dark blue">
    <option value="orange">
    <option value="blue">
    <option value="light silver">
    <option value="red">
    <option value="beige">
    <option value="silver">
    <option value="gold">
    <option value="yellow">
    <option value="tan">
</datalist>