<label for="color">Color</label>
<input id="color_list" list="color" name="color" class="form-control">
<datalist id="color">
    <option value="Black">
    <option value="White">
    <option value="Dark Brown">
    <option value="Light Brown">
    <option value="Cream">
    <option value="Rust">
    <option value="Dark Blue">
    <option value="Orange">
    <option value="Blue">
    <option value="Light Silver">
    <option value="Red">
    <option value="Beige">
    <option value="Silver">
    <option value="Gold">
    <option value="Yellow">
    <option value="Tan">
</datalist>