<!-- <div class="sticky-scroll-box querybar" id="queryBar"> -->
  <form action="/delete" method="post">
    <h2>Delete Dogs</h2>
    <div class="form-group">
      <label for="date_found">Date Found</label>
      <input type="date" name="date_found" id="date_found">
    </div>
        <div class="form-group">
      <label for="end_date">End Date</label>
      <input type="date" name="end_date">
    </div>
    <div class="form-group">
      {% include 'components/breed.html'%}
    </div>
      <small id="emailHelp" class="form-text text-muted">Please note: once delete is performed, it cannot be undone</small>
    <button type="submit" class="btn btn-outline-danger">Delete</button>
  </form>
<!-- </div> -->
