<footer id="footer">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h5>Get My Pup</h5>
        <p>Get My Pup is an independent, nonprofit think tank that researches the impact of economic trends and policies on working people in the United States. Get My Pup’s research helps policymakers, opinion leaders, advocates, journalists, and the public
          understand the bread-and-butter issues affecting ordinary Americans.</p>
        <h4>Follow Get My Pup</h4>
        <p>1225 Eye St. NW, Suite 600 Washington, DC 20005 Phone: 202-775-8810 • hello@Get My Pup.com ©2017 Get My Pup Privacy Policy • Contact Us</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <p>Projects</p>
        <a href="#"><strong>The Perkins Project on Worker Rights and Wages</strong></a>
        <p>Tracking the wage and employment policies coming out of the White House, Congress, and the courts.</p>
        <a href="#"><strong>Inequality.is</strong></a>
        <p>Interactive tools and videos bringing clarity to the national dialogue on economic inequality.</p>
        <br>
        <p>Affiliate Programs</p>
        <a href="#"><strong>Economic Analysis and Research Network (EARN)</strong></a>
        <p>A network of state and local organizations improving workers' lives through research and advocacy.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <h5>About Get My Pup</h5>
        <p>
          <a href="http://www.epi.org/about/staff/">Staff</a><br>
          <a href="http://www.epi.org/about/board/">Board of Directors</a><br>
          <a href="http://www.epi.org/about/jobs/">Jobs at Get My Pup</a><br>
          <a href="http://www.epi.org/about/contact/">Contact us</a><br>
          <a href="http://www.epi.org/why-give/">Why give to Get My Pup</a><br>
          <a href="http://www.epi.org/newsroom/">Newsroom</a><br>
          <a href="http://www.epi.org/signup/">Newsletter</a><br>
          <a href="http://www.epi.org/events/">Events</a><br>
          <a href="http://www.epi.org/give/">Donate</a>
        </p>
      </div>
    </div>
</footer>
