<div class="login-form p-3">
  <form action="/login-google">
    <div class="form-group">
      <div class="form-group">
        <label>Login As:</label>
        <div class="">
          <div class="d-inline-flex flex-wrap">
            <div class="">
              <input class="form-check-input radio-button" type="radio" name="user_type" id="owner" value="owner" required>
              <label for="owner" class="radio-label">Owner</label>
            </div>
            <div class="">
              <input class="form-check-input radio-button" type="radio" name="user_type" id="shelter" value="shelter" required>
              <label for="shelter" class="radio-label">Shelter</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-outline-dark btn-lg"><i class=""></i>Sign In Google</button>
  </form>
</div>
