<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">App <i class="material-icons">verified_user</i></a>

    <ul class="right hide-on-med-and-down">
      <li><a href="/py-scraper?url=https://www.vice.com/en_us/article/a3kpv4/i-waited-for-mcdonalds-szechuan-sauce-and-it-was-fine">Py-Scraper</a></li>
      <li><a href="/messaging">Messaging App</a></li>
      <li><a href="/logout">Log Out</a></li>
      <!-- <li><a href="#">Py-Scraper</a></li> -->
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/py-scraper?url=">Py-Scraper</a></li>
      <li><a href="/messaging">Messaging App</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
