<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">App <i class="material-icons">verified_user</i></a>

    <ul class="right hide-on-med-and-down">
      {% module Menu() %}
      <li><a href="/messaging">Messaging App</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/login">Log In</a></li>
      <li><a href="/messaging">Messaging App</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
