<nav class="navbar navbar-expand-md navbar-light bg-faded">
  <a class="navbar-brand" href="/">Get My Pup</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse navbar-content justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      {% if shelter%}
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin</a>
      </li>
      {% else %}
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/dogs">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dogs/new-dog">Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
    </ul>
  </div>
</nav>
