<!-- Pricing Tables -->
<div class="section valign-wrapper">
  <div class="container">
    <div class="row">
      <h1 class="center">Pricing</h1>
      <div class="col s12 m4">

        <div class="pricing-table">
          <div class="pricing-header">
            <i class="icon-paper-plane"></i>
            <h4>Basic</h4>
            <div class="price">
              <span class="currency">$</span>
              <span class="dollars">9</span>
              <span class="cents">99</span>
            </div>
          </div>
          <ul class="pricing-features">
            <li class="pricing-feature"><i class="icon-accept"></i>10 product uses.</li>
            <li class="pricing-feature"><i class="icon-accept"></i>10 product uses.</li>
            <li class="pricing-feature"><i class="icon-accept"></i>10 product uses.</li>
            <li class="pricing-feature disabled"><i class="icon-close"></i>Pro and above.</li>
            <li class="pricing-feature disabled"><i class="icon-close"></i>Enterprise only.</li>
            <li class="pricing-feature disabled"><i class="icon-close"></i>Enterprise only.</li>
            <li class="pricing-feature disabled"><i class="icon-close"></i>Enterprise only.</li>
          </ul>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="pricing-table featured">
          <div class="pricing-header">
            <i class="icon-plane"></i>
            <h4>Pro</h4>
            <div class="price">
              <span class="currency">$</span>
              <span class="dollars">59</span>
              <span class="cents">99</span>
            </div>
          </div>
          <ul class="pricing-features">
            <li class="pricing-feature"><i class="icon-accept"></i>10 product uses.</li>
            <li class="pricing-feature"><i class="icon-accept"></i>10 product uses.</li>
            <li class="pricing-feature"><i class="icon-accept"></i>10 product uses.</li>
            <li class="pricing-feature"><i class="icon-accept"></i>Pro and above.</li>
            <li class="pricing-feature disabled"><i class="icon-close"></i>Enterprise only.</li>
            <li class="pricing-feature disabled"><i class="icon-close"></i>Enterprise only.</li>
            <li class="pricing-feature disabled"><i class="icon-close"></i>Enterprise only.</li>
          </ul>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="pricing-table">
          <div class="pricing-header">
            <i class="icon-rocket"></i>
            <h4>Enterprise</h4>
            <div class="price">
              <span class="currency">$</span>
              <span class="dollars">299</span>
              <span class="cents">99</span>
            </div>
          </div>
          <ul class="pricing-features">
            <li class="pricing-feature"><i class="icon-accept"></i>10 product uses.</li>
            <li class="pricing-feature"><i class="icon-accept"></i>10 product uses.</li>
            <li class="pricing-feature"><i class="icon-accept"></i>10 product uses.</li>
            <li class="pricing-feature"><i class="icon-accept"></i>10 product uses.</li>
            <li class="pricing-feature"><i class="icon-accept"></i>Enterprise only.</li>
            <li class="pricing-feature"><i class="icon-accept"></i>Enterprise only.</li>
            <li class="pricing-feature"><i class="icon-accept"></i>Enterprise only.</li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
