<!--- Add new Shelter --->
<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#shelterModal">
  Add New Shelter
</button>

<div class="modal fade" id="shelterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Shelter</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form class="" action="/shelters" method="post">
          <div class="modal-body">
              <label for="shelter_name">Shelter Name</label><br>
              <input class="form-control"  type="text" name="name" value=""><br>
              <label for="email">Email</label><br>
              <input class="form-control"  type="email" name="email" value=""><br>
              <label for="phone_number">Phone Number</label><br>
              <input class="form-control"  type="text" name="phone" value=""><br>
              <label for="address">Address</label><br>
              <input class="form-control"  type="text" name="address" value="">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add Shelter</button>
          </div>
        </form>

    </div>
  </div>
</div>
<!-- End Add new SHelter -->
